.logement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 1240px;
    margin-bottom: 50px;

    @media (max-width: 767.98px) {
        margin-bottom: 27px;
    }

    .logement-slideshow {
        height: 415px;
        width: 100%;

        @media (max-width: 1024px) {
            width: 89.3%;
        }
        @media (max-width: 767.98px) {
            padding: 0 20px;
            width: 89.3%;
            height: 255px;
        }

        img {
            border-radius: 25px;

            @media (max-width: 767.98px) {
                border-radius: 10px;
                width: 100%;
            }
        }
    }

    .logement-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;

        @media (max-width: 1024px) {
            width: 89.3%;
        }
        @media (max-width: 767.98px) {
            width: 89.3%;
            gap: 13px;
        }

        .logement-details-info {
            display: flex;
            flex-direction: row;
            gap: 30px;

            @media (max-width: 767.98px) {
                flex-direction: column;
                gap: 17px;
            }

            .logement-details {
                width: 100%;

                .logement-title {
                    font-size: 36px;
                    font-weight: 500;
                    color: #ff6060;

                    @media (max-width: 767.98px) {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 25.67px;
                    }
                }

                .logement-location {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 20px;

                    @media (max-width: 767.98px) {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 19.96px;
                    }
                }

                .logement-tags {
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;

                    .logement-tag {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-wrap: nowrap;
                        background-color: #ff6060;
                        border-radius: 10px;
                        min-width: 105px;
                        height: 25px;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 700;
                        padding: 0 10px;

                        @media (max-width: 767.98px) {
                            width: 84px;
                            height: 18px;
                            font-size: 10px;
                        }
                    }
                }
            }

            .logement-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .logement-host {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 28px;
                    width: 100%;

                    @media (max-width: 767.98px) {
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .logement-host-details {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .logement-host-picture {
                            width: 64px;
                            height: 64px;
                            border-radius: 50%;
                            object-fit: cover;

                            @media (max-width: 767.98px) {
                                width: 32px;
                                height: 32px;
                            }
                        }

                        .logement-host-name {
                            font-size: 18px;
                            font-weight: 500;
                            color: #ff6060;

                            @media (max-width: 767.98px) {
                                font-size: 12px;
                                line-height: 17.11px;
                            }
                        }
                    }
                }
            }
        }

        .logement-collapses {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 76px;

            @media (max-width: 767.98px) {
                flex-direction: column;
                gap: 20px;
            }
            .collapse {
                flex: 1;
                line-height: 25.67px;
            }
        }
    }
}
