.App {
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 43px;
  margin-bottom: 50px;
  padding-top: 56px;
  padding-bottom: 43px;
  max-width: 1240px;
  width: 100%;
  height: fit-content;
  row-gap: 60px;
  column-gap: 50px;
  border-radius: 25px;
  background-color: #f6f6f6;
}
