.banner {
    
    position: relative;
    max-width: 1240px; // Largeur maximale
    max-height: 223px; // Hauteur maximale
    width: 100%;
    height: 100%;
    margin: 0 auto; // Centrer horizontalement
    overflow: hidden; // Pour éviter le débordement de l'overlay
    border-radius: 25px; // Coins arrondis pour la bannière
    display: flex;
    align-items: center; // Centrer verticalement le texte
    justify-content: center; // Centrer horizontalement le texte
    text-align: center; // Centrer le texte à l'intérieur
    
    &-image {
    width: 100%;
    height: 100%;
    object-fit: cover; // Couvre tout le conteneur
    border-radius: 25px; // Coins arrondis pour l'image
    z-index: 1; // Derrière l'overlay et le texte
      }
    
      &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000000; // Couleur sombre
        mix-blend-mode: darken; // Assombrit l'image
        opacity: 0.6; // Opacité de l'overlay
        border-radius: 25px; // Coins arrondis pour l'overlay
        z-index: 2; // Au-dessus de l'image mais en dessous du texte
      }
    
      &-text {
        position: absolute;
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 68.45px;
        text-align: left;
        z-index: 3; 
        color: #FFF;
        text-shadow: 
        1px 1px 0 #000, 
       -1px -1px 0 #000,
        1px -1px 0 #000,
       -1px 1px 0 #000,
        0 4px 4px rgba(0, 0, 0, .25);
    }
}